#tela-inicial{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tela-inicial main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#tela-inicial header h1, #tela-inicial footer p{
    text-align: center;
}

#tela-inicial #autenticacao{
    background-color: var(--color-primary-light);
    padding: 10px;
    border-radius: 15px;
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

#tela-inicial #autenticacao p{
    margin: 0px;
    text-align: center;
}

#tela-inicial #opcoes-erp{
    margin: 5px 0px;
}

#tela-inicial #autenticacao .container-token input{
    margin: 0 5px;
}

nav{
    display: flex;
    flex-direction: row;
    max-width: 95%;
    /* flex-wrap: wrap; */
}

#tela-inicial nav .botao-normal{
    margin-bottom: 0px;
}

#tela-inicial nav > *:last-child{   /* *:lastchild faz com que o css seja aplicado apenas no último elemento do nav, independente de qual seja a tag */
    margin-right: 0px;
}

/* Executa quando a largura da tela é menor que 365px */
@media(max-width: 545px){
    #tela-inicial nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #tela-inicial nav .botao-normal{
        margin-right: 0px;
        margin-bottom: 5px;
    }

}