#menu-superior{
    background-color: #f0fbff;
    padding: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px -10px 5px -10px;
    border-bottom: 2px solid lightblue;
    border-radius: 5px;
}

#menu-superior h4{
    margin: 0px;
}

#menu-superior .botao{
    padding: 5px;
    border-radius: 5px;
    background-color: lightblue;
    text-decoration: none;
    color: black;
    border: 0;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 5px;
}

#menu-superior .botao:hover{
    cursor: pointer;
}

#menu-superior div:last-child{
    margin-left: auto;
}