#componente-loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: var(--cor-plano-de-fundo-escuro-transparente);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#componente-loading p {
    color: var(--cor-terciaria-texto);
    text-align: center;
}

#componente-loading .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

#componente-loading .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--cor-terciaria-texto);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--cor-terciaria-texto) transparent transparent transparent;
}

#componente-loading .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

#componente-loading .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

#componente-loading .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}