#componente-botao-flutuante {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#componente-botao-flutuante button {
    border-radius: 50%;
    box-shadow: 0px 1px 3px var(--cor-primaria);
    vertical-align: middle;
}

#componente-botao-flutuante button p {
    color: var(--cor-terciaria-texto);
    box-shadow: 0px 1px 3px var(--cor-primaria);
}

#componente-botao-flutuante img {
    height: 16px;
}