#tela-envia-ordem-compra .retangulo{
    padding: 10px;
    margin: 7px 0px;
    background-color: var(--color-primary-light);
    border-radius: 5px;
    text-align: justify;
}

@media print {
    body * {
        visibility: hidden;
    }

    #tela-envia-ordem-compra #resultado * {
        visibility: visible;
    }

    #tela-envia-ordem-compra #resultado{
        position: absolute;
        left: 0;
        top: 0;
    }
}
